backup-repo/projects/sheckle/automation/n8n-twitter-workflow.json
{
  "name": "SHECKLE Twitter Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tweet",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "tweet"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}"
      },
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "twitter-creds",
          "name": "Twitter Credentials"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
